<h1><%= @trail.title %></h1>
<h3><%= @trail.state %></h3>
<%= image_tag(@trail.images.original.url) if @trail.images? %>
<p><%= @trail.body %></p>
<div class="row">
  <div class="col-md-8">
    <h3>What other's have to say about this trail!</h3>
    <% @posts.each do |post| %>
      <div class="media">
        <div class="media-body">
          <small>
            <%= image_tag(post.user.avatar.tiny.url) if post.user.avatar? %>
            submitted <%= time_ago_in_words(post.created_at) %> ago by <%= post.user.name %>
          </small>
          <p><%= link_to truncate(post.body, length: 50, separator: ' ', omission: '...(continued'), [@trail, post]  %></p>
        </div>
      </div>
      <% end %>
    </div>
  </div>
  <div class="container">
  <%= link_to "New Post", new_trail_post_path(@trail), class: 'btn btn-success' %>
</div>
    
  
<div class="container">
  <%= link_to "Edit", edit_trail_path(@trail), class: 'btn btn-success btn-sm' %>
  <%= link_to "Delete Trail", @trail, method: :delete, class: 'btn btn-danger btn-sm', data: { confirm: 'Are you sure you want to delete?' } %>
</div>