<h1><%= @trail.title %></h1>
<h3><%= @trail.state %></h3>
<p><%= @trail.body %></p>
<%= link_to "Edit", edit_trail_path(@trail), class: 'btn btn-success' %>
<%= link_to "Delete Trail", @trail, method: :delete, class: 'btn btn-danger', data: { confirm: 'Are you sure you want to delete?' } %>
