<h1>Edit Post Text</h1>
<div class="row">
  <div class="col-md-8">
    <%= form_for [@trail, @post] do |f| %>
      <div class="form-group">
        <%#= f.label :post %>
        <%= f.text_field :body, class: 'form-control', placeholder: "Enter your trail post." %>
      </div>
      <%= f.submit "Save", class: 'btn btn-success' %>
    <% end %>

    <h2>Current Gallery</h2>      
    <% @post.post_attachments.each do |p| %>
      <div class="col-sm-4">
        <div class="image">
          <%= image_tag p.gallery.medium.url %>
        </div>
          <%= link_to "Delete", post_attachment_path(p), method: :delete, confirmation: "Are you sure?", class: 'btn btn-primary btn-xs' %> 
        
      </div>
    <% end %>

    <div class="container">
    <h3>Add New Images to Gallery</h3>
      <%= form_for PostAttachment.new do |f| %>
        <div class="form-group">
          <%= f.hidden_field :post_id, value: @post.id %>
          <%= f.file_field :gallery, multiple: true, name: "post_attachment[gallery][]" %>
        </div>

        <%= f.submit "Upload Images", class: 'btn btn-success' %>
      <% end %>
    </div>
   </div>
</div>



