<div class="container">
  <div class="row">
    <div class="col-md-8">
      <small>
        <%= image_tag(@post.user.avatar.tiny.url) if @post.user.avatar? %>
        submitted <%= time_ago_in_words(@post.created_at) %> ago by <%= @post.user.name %>
      </small>
      <p><%= @post.body %></p>
      <% @post_attachments.each do |p| %>
        <div class="col-sm-4">
          <div class="image">
            <%#=  link_to image_tag(p.gallery.medium.url), p.gallery.url,  :data => { :colorbox => true, :colorbox_height => '400px', :colorbox_width => '400px', :colorbox_iframe => true } %>
            <%=  link_to image_tag(p.gallery.medium.url), p.gallery.url, class: 'trailimage', data: { colorbox: true, colorbox_height: '300px', colorbox_width: '300px' } %>
            <%#= link_to "Edit Photos", edit_post_attachment_path(p), class: 'btn btn-primary btn-xs' %>       
          </div>
        </div>
      <% end %>
      <%= link_to "Back to Trail", trail_path(@trail), class: 'btn btn-success btn-sm' %>
      <% if policy(@post).edit? %>
        <%= link_to "Edit", edit_trail_post_path, class: 'btn btn-primary btn-sm' %>
      <% end %>
      <% if policy(@post).destroy? %>
      <%= link_to "Delete", trail_post_path, method: :delete, class: 'btn btn-danger btn-sm', data: { confirm: 'Are you sure you want to delete?' } %>
    <% end %>
    </div>
  </div>
  <h3>Comments:</h3>
      <div class='comments'>
        <%= render partial: 'comments/comment', collection: @comments %>
      </div>
   
  <h3>Add a comment:</h3>
    <div class="comments">
      <%= render partial: 'comments/form' %>
    </div>
  </div>
</div>

    