<div class="row">
  <div class="col-md-8">
    <small>
      <%= image_tag(@post.user.avatar.tiny.url) if @post.user.avatar? %>
      submitted <%= time_ago_in_words(@post.created_at) %> ago by <%= @post.user.name %>
    </small>
    <p><%= @post.body %></p>
    <% @post_attachments.each do |p| %>
      <%= image_tag p.gallery.medium.url %>
    <% end %>
    <%= link_to "Back to Trail", trail_path(@trail), class: 'btn btn-success btn-small' %>
    <% if policy(@post).edit? %>
      <%= link_to "Edit", edit_trail_post_path, class: 'btn btn-primary btn-small' %>
    <% end %>
  </div>
</div>
<h3>Comments:</h3>
    <div class='comments'>
      <%= render partial: 'comments/comment', collection: @comments %>
    </div>
 
<h3>Add a comment:</h3>
  <div class="comments">
    <%= render partial: 'comments/form' %>
  </div>
</div>

    